<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upadte Your Profil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/updateAction.css">
</head>
<body>
    <% userInfo %>
    <form action="/profil/update?_method=PUT" method="post" enctype="multipart/form-data">
        <h1>Update Your Profil</h1>
        <div class="form-content">
            <div class="item">
                <p>Name : </p>
                <input type="text" value="<%=userInfo.fname  %>" name="fname" >
            </div>
            <div class="item">
                <p>Email : </p>
                <input type="text" value="<%= userInfo.email %>" name="email" >
            </div>
            <div class="item">
                <p>PassWord : </p>
                <input type="text" value="***************"  readonly name="password" disabled>
            </div>
            <div class="item">
                <p>Age : </p>
                <input type="text" value="<%= userInfo.age? userInfo.age : 'Not Exist'   %>"  name="age">
            </div>
            <div class="item">
                <p>Country : </p>
                <input type="text" value="<%=  userInfo.country || 'Not Exist'   %>" name="country">
            </div>
            <div class="item">
                <p>Phone Number : </p>
                <input type="text" value="<%=  userInfo.phone || 'Not Exist'   %>" name="phone">
            </div>
            <div class="item">
                <p>Profil Image : </p>
                <input type="file" value="<%=  userInfo.avatar || 'Not Exist'   %>" name="avatar">
            </div>
        </div>
        <div class="btns">
            <button type="submit">Update</button>
            <a href="/profil/<%=userInfo.fname%>/get"><button type="button">Go Back</button></a>
        </div>
    </form>
    <script src="/js/action.js"></script>    
</body>
</html>